<div class="passenger-page container">
  <div class="row pt-2">
    <div class="passenger-page-title col col-12">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <!-- <h1 class="m-0 p-0">Dashboard</h1> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 pb-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Scanned QR today</p>
          <h1 class="card-title m-0 p-0"><strong>
            {{ tripHistoryToday }}
          </strong></h1>
          <!-- <button class="btn btn-primary btn-sm">Button</button> -->
        </div>
      </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 pb-3">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Scanned QR this month</p>
            <h1 class="card-title m-0 p-0"><strong>
              {{ tripHistoryMonthly }}
            </strong></h1>
            <!-- <button class="btn btn-primary btn-sm">Button</button> -->
          </div>
        </div>
      </div>
      <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 pb-3">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Total Scanned QR</p>
            <h1 class="card-title m-0 p-0"><strong>
              {{ tripHistoryAll }}
            </strong></h1>
            <!-- <button class="btn btn-primary btn-sm">Button</button> -->
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card">
          <!-- <div class="card-body" [formGroup]="busProfileDataFormGroup">
            <div class="row pb-3">
              <div class="col col-12">
                <p class="card-text">
                  <strong>Bus Profile</strong>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <div class="row">
                  <div class="col col-12">
                    <p class="form-group-name">BUS DETAILS</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                      <mat-form-field appearance="outline" class="d-block">
                        <mat-label>Bus Name</mat-label>
                        <input
                          type="text"
                          matInput
                          name="busName"
                          formControlName="busName">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                      <mat-form-field appearance="outline" class="d-block">
                        <mat-label>Plate Number</mat-label>
                        <input
                          type="text"
                          matInput
                          name="busNumber"
                          formControlName="busNumber">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                      <mat-form-field appearance="outline" class="d-block">
                        <mat-label>Province</mat-label>
                        <input
                          type="text"
                          matInput
                          name="busProvince"
                          formControlName="busProvince">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-12">
                    <p class="form-group-name">BUS CONDUCTOR DETAILS</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                      <mat-form-field appearance="outline" class="d-block">
                        <mat-label>Conductor Name</mat-label>
                        <input
                          type="text"
                          matInput
                          name="operatorFullName"
                          formControlName="operatorFullName">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                      <mat-form-field appearance="outline" class="d-block">
                        <mat-label>Email Address</mat-label>
                        <input
                          type="text"
                          matInput
                          name="operatorEmail"
                          formControlName="operatorEmail">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="form-group">
                      <mat-form-field appearance="outline" class="d-block">
                        <mat-label>Phone Number</mat-label>
                        <input
                          type="text"
                          matInput
                          name="operatorPhoneNumber"
                          formControlName="operatorPhoneNumber">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="card-body">
            <div class="row">
              <div
                class="passenger-profile-form col col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8"
                [formGroup]="busAccountDataFormGroup"
              >
                <div class="row pb-3">
                  <div class="col col-12">
                    <div class="form-group-name">BUS ACCOUNT STATUS</div>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 pb-3">
                    <div class="form-group">
                      <label>Status</label>
                      <div class="custom-radio d-flex flex-row gap-3 align-items-center">
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            formControlName="status"
                            type="radio"
                            name="status"
                            id="active"
                            value="Active"
                          />
                          <label class="form-check-label" for="active">Active</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            formControlName="status"
                            type="radio"
                            name="status"
                            id="inactive"
                            value="Inactive"
                          />
                          <label class="form-check-label" for="inactive">Inactive</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 pb-3">
                    <div class="form-group">
                      <label>Approved?</label>
                      <div class="custom-radio d-flex flex-row gap-3 align-items-center">
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            formControlName="isApproved"
                            type="radio"
                            name="isApproved"
                            id="yes"
                            value="Approved"
                          />
                          <label class="form-check-label" for="yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            formControlName="isApproved"
                            type="radio"
                            name="isApproved"
                            id="no"
                            value="Disapproved"
                          />
                          <label class="form-check-label" for="no">No</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pb-3">
                  <div class="col col-12">
                    <div class="form-group-name">BUS INFORMATION</div>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 pb-3">
                    <div class="form-group">
                      <label>Bus Name</label>
                      <input
                        type="text"
                        formControlName="busName"
                        class="form-control"
                        aria-describedby="busNameHelp"
                        placeholder="Enter Bus Name"
                      />
                      <!-- <small id="lastnameHelp" class="form-text text-muted">
                          We'll never share your email with anyone else.
                      </small> -->
                    </div>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 pb-3">
                    <div class="form-group">
                      <label>Plate Number</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="busNumber"
                        aria-describedby="busNumberHelp"
                        placeholder="Enter Plate Number"
                      />
                    </div>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 pb-3">
                    <div class="form-group">
                      <label>Bus Province</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="busProvince"
                        aria-describedby="busProvinceHelp"
                        placeholder="Enter Bus Province"
                      />
                    </div>
                  </div>
                </div>
          
                <div class="row">
                  <div class="col col-12">
                    <div class="form-group-name">CONDUCTOR INFORMATION</div>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pb-3">
                    <div class="form-group">
                      <label>Conductor Fullname</label>
                      <input
                        type="text"
                        formControlName="operatorFullName"
                        class="form-control"
                        aria-describedby="operatorFullNameHelp"
                        placeholder="Enter Fullname"
                      />
                    </div>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-3">
                    <div class="form-group">
                      <label>Conductor Phone Number</label>
                      <input
                        type="text"
                        formControlName="operatorPhoneNumber"
                        class="form-control"
                        aria-describedby="operatorPhoneNumberHelp"
                        placeholder="Enter Phone Number"
                      />
                      <!-- <small id="phoneNumberHelp" class="form-text text-muted">
                          We'll never share your email with anyone else.
                      </small> -->
                    </div>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pb-3">
                    <div class="form-group">
                      <label>Operator Email</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="operatorEmail"
                        aria-describedby="operatorEmailHelp"
                        placeholder="Enter Email Address"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
