.passenger-page {
  .passenger-page-title {
    h1 {
      font-size: 24pt;
      font-weight: 600;
      letter-spacing: -1px;
    }
  }
}

.passenger-pills {
  li {
    width: 8.24rem;
  }
}

.form-group-name {
  font-weight: 400;
  letter-spacing: 2px;
  color: #287cb1;
}

.activty-logs-table {
  color: #9e9e9e;
}
