<div class="passenger-page container">
  <div class="row pt-4">
    <div class="passenger-page-title col col-12">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <h1 class="m-0 p-0">Contact Tracing</h1>
        <!-- <button class="m-0 p-0" mat-fab color="warn" (click)="save()" aria-label="Edit Profile">
          <mat-icon>save_alt</mat-icon>
        </button> -->
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <mat-stepper headerPosition="top" linear labelPosition="bottom" #stepper>
      <mat-step [stepControl]="contactTracingForm" [optional]="false">
        <ng-template matStepLabel>Add New Positive Case</ng-template>
        <div class="row">
          <div
            class="passenger-profile-form col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"
            [formGroup]="contactTracingForm"
          >
            <div class="row">
              <div class="col col-12">
                <p>
                  *Note: Please be careful with tagging someone as Covid
                  Positive as it may cause an issue.
                </p>
              </div>
              <div class="col col-12">
                <mat-form-field appearance="outline" class="d-block">
                  <mat-label>Passenger</mat-label>
                  <mat-select
                    formControlName="passengerAccount"
                    placeholder="Select a Passenger"
                  >
                    <mat-option
                      aria-selected="true"
                      selected
                      *ngFor="let passenger of passengerList"
                      [value]="passenger.value"
                      >{{ passenger.text }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col col-12">
                <mat-form-field appearance="outline" class="d-block">
                  <mat-label>Status</mat-label>
                  <mat-select
                    formControlName="status"
                    placeholder="Select a status"
                  >
                    <mat-option
                      aria-selected="true"
                      selected
                      *ngFor="let status of statusList"
                      [value]="status.value"
                      >{{ status.text }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col col-12">
                <mat-form-field appearance="outline" class="d-block">
                  <mat-label>Date tagged as positive</mat-label>
                  <input
                    matInput
                    formControlName="dateTaggedAsPositive"
                    [matDatepicker]="positiveDatePicker"
                    placeholder="MM/DD/YYYY"
                    name="positiveDate"
                    (focus)="positiveDatePicker.open()"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="positiveDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #positiveDatePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="d-flex flex-row justify-content-end gap-3">
              <button
                class="order-2"
                mat-flat-button
                color="primary"
                (click)="onTraceCloseContacts()"
                [disabled]="isFormIncomplete"
                matStepperNext
              >
                Trace close contacts
              </button>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step [optional]="false">
        <ng-template matStepLabel>Collect Travel History</ng-template>
        <div class="row">
          <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p>
              *Note: The system collects trip history of the positive passenger
              5-days before the date it was tagged as positive.
            </p>
            <div class="d-flex flex-row gap-3 pb-5">
              <button
                class=""
                mat-flat-button
                color="primary"
                (click)="checkTripHistory()"
              >
                Retrieve trip history
              </button>
            </div>
            <div class="row" *ngIf="tripHistoryList.length === 0">
              <p class="text-muted">No data retrieved yet.</p>
            </div>
          </div>
          <div class="col col-12" *ngIf="tripHistoryList.length !== 0">
            <div class="table-responsive table-responsive-sm">
              <table class="table table-hover" id="content" #content>
                <caption>
                  <!-- Showing 10 of {{ 45 }} trip records, export to view them all. -->
                </caption>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Bus</th>
                    <th scope="col" class="text-nowrap">Date</th>
                    <th scope="col" class="text-nowrap">Time In</th>
                    <th scope="col" class="text-nowrap">Time Out</th>
                    <th scope="col" class="text-nowrap">Trip Sched</th>
                    <th scope="col" class="text-nowrap">Pickup</th>
                    <th scope="col" class="text-nowrap">Dropoff</th>
                    <th scope="col" class="text-nowrap">Vaccine Code</th>
                    <th scope="col" class="text-nowrap">Seat Number</th>
                    <th scope="col" class="text-nowrap">Temperature</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="tripHistoryList.length === 0">
                    <td
                      colspan="12"
                      class="text-center text-muted bg-light py-4"
                    >
                      No data retrieved.
                    </td>
                  </tr>
                  <tr *ngFor="let tripHistory of tripHistoryList">
                    <th scope="row">{{ tripHistory.rowId }}</th>
                    <td>{{ tripHistory.BusName }}</td>
                    <td class="text-nowrap">{{ tripHistory.Date }}</td>
                    <td class="text-nowrap">{{ tripHistory.TimeIn }}</td>
                    <td class="text-nowrap">{{ tripHistory.TimeOut }}</td>
                    <td class="text-nowrap">{{ tripHistory.TripSched }}</td>
                    <td class="text-nowrap">{{ tripHistory.PlaceOfPickUp }}</td>
                    <td class="text-nowrap">
                      {{ tripHistory.PlaceOfDropoff }}
                    </td>
                    <td>{{ tripHistory.VaccineCode }}</td>
                    <td>{{ tripHistory.SeatNumber }}</td>
                    <td>{{ tripHistory.Temperature }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="d-flex flex-row justify-content-end gap-3">
              <button
                class="order-2"
                mat-stroked-button
                color="primary"
                matStepperPrevious
              >
                Back
              </button>
              <button
                class="order-2"
                mat-flat-button
                color="primary"
                [disabled]="isFormIncomplete"
                matStepperNext
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step [optional]="false">
        <ng-template matStepLabel>Collect Close Contacts</ng-template>
        <div class="row">
          <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p>
              *Note: The system collects close contact of the passenger tagged
              as positive based on each trip history retrieved.
            </p>
            <div class="d-flex flex-row gap-3 pb-5">
              <button
                class=""
                mat-flat-button
                color="primary"
                (click)="checkCloseContacts()"
              >
                Retrieve close contacts
              </button>
            </div>
          </div>
          <div class="close-contacts-list-view col col-12">
            <div class="row" *ngIf="closeContacts.length == 0">
              <p class="text-muted">No data retrieved yet.</p>
            </div>
            <div
              class="row mb-2"
              *ngFor="let closeContactItem of closeContacts"
            >
              <div
                class="tripHistory col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"
              >
                <strong>TRIP HISTORY</strong>
                <dl>
                  <dt>Date</dt>
                  <dd>{{ closeContactItem.Date }}</dd>
                  <dt>Trip Schedule</dt>
                  <dd>{{ closeContactItem.TripSched }}</dd>
                  <dt>Bus Onboarded</dt>
                  <dd>{{ closeContactItem.Bus }}</dd>
                </dl>
              </div>
              <div
                class="closeContacts col col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8"
              >
                <strong>CLOSE CONTACTS</strong>
                <div class="table-responsive table-responsive-sm">
                  <table class="table table-hover" id="content" #content>
                    <caption>
                      <!-- Showing 10 of {{ 45 }} trip records, export to view them all. -->
                    </caption>
                    <thead>
                      <tr>
                        <th scope="col">Seat #</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone Number</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="closeContactItem.CloseContacts.length === 0">
                        <td
                          colspan="5"
                          class="text-center text-muted bg-light py-4"
                        >
                          No data retrieved.
                        </td>
                      </tr>
                      <tr
                        *ngFor="
                          let closeContact of closeContactItem.CloseContacts
                        "
                      >
                        <th scope="row">{{ closeContact.SeatNumber }}</th>
                        <td>{{ closeContact.Passenger }}</td>
                        <td>{{ closeContact.Address }}</td>
                        <td>{{ closeContact.PhoneNumber }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="d-flex flex-row justify-content-end gap-3">
              <button
                class="order-2"
                mat-stroked-button
                color="primary"
                matStepperPrevious
              >
                Back
              </button>
              <button
                class="order-2"
                mat-flat-button
                color="primary"
                [disabled]="isFormIncomplete"
                matStepperNext
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step [optional]="false">
        <ng-template matStepLabel>Done</ng-template>
        <div class="row pb-5 pt-3">
          <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="fw-bold">
              You are now done on the contact tracing process. Thank you.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="d-flex flex-row justify-content-end gap-3">
              <button mat-stroked-button color="primary" matStepperPrevious>
                Back
              </button>
              <button mat-flat-button color="primary" (click)="stepper.reset()">
                Reset
              </button>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
