<div class="passenger-page container">
  <div class="row pt-5">
    <div class="passenger-page-title col col-12">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <h1 class="m-0 p-0">Trip History</h1>
        <button class="m-0 p-0" mat-fab color="warn" aria-label="Edit Profile">
          <mat-icon>save_alt</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <!-- table -->
    <div class="col col-12">
      <!-- handleFilterTripHistory("All") -->
      <div class="flex flex-row gap-2 p-2">
        <button
          mat-stroked-button
          color="primary"
          (click)="handleFilterTripHistory('All')"
        >
          All
        </button>
        <button
          mat-stroked-button
          color="primary"
          (click)="handleFilterTripHistory('scan-in')"
        >
          On-boarding
        </button>
        <button
          mat-stroked-button
          color="primary"
          (click)="handleFilterTripHistory('scan-out')"
        >
          Off-boarding
        </button>
      </div>
    </div>
    <div class="col col-12">
      <div class="table-responsive table-responsive-sm">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Bus</th>
              <th scope="col" class="text-nowrap">Date</th>
              <th scope="col" class="text-nowrap">Time In</th>
              <th scope="col" class="text-nowrap">Time Out</th>
              <th scope="col" class="text-nowrap">Trip Sched</th>
              <th scope="col" class="text-nowrap">Pickup</th>
              <th scope="col" class="text-nowrap">Dropoff</th>
              <th scope="col" class="text-nowrap">Vaccine Code</th>
              <th scope="col" class="text-nowrap">Seat Number</th>
              <th scope="col" class="text-nowrap">Temperature</th>
            </tr>
          </thead>
          <tbody *ngIf="!filterMode">
            <tr *ngIf="tripHistoryList.length === 0">
              <td colspan="10" class="text-center text-muted bg-light py-4">
                No data retrieved.
              </td>
            </tr>
              <tr *ngFor="let tripHistory of tripHistoryList">
                <th scope="row">{{ tripHistory.rowId }}</th>
                <td>{{ tripHistory.BusName }}</td>
                <td class="text-nowrap">{{ tripHistory.Date }}</td>
                <td class="text-nowrap">{{ tripHistory.TimeIn }}</td>
                <td class="text-nowrap">{{ tripHistory.TimeOut }}</td>
                <td class="text-nowrap">{{ tripHistory.TripSched }}</td>
                <td class="text-nowrap">{{ tripHistory.PlaceOfPickUp }}</td>
                <td class="text-nowrap">{{ tripHistory.PlaceOfDropoff }}</td>
                <td>{{ tripHistory.VaccineCode }}</td>
                <td>{{ tripHistory.SeatNumber }}</td>
                <td>{{ tripHistory.Temperature }}</td>
              </tr>
          </tbody>
          <tbody *ngIf="filterMode">
            <tr *ngIf="filteredTripHistoryList.length === 0">
              <td colspan="10" class="text-center text-muted bg-light py-4">
                No data retrieved.
              </td>
            </tr>
              <tr *ngFor="let tripHistory of filteredTripHistoryList">
                <th scope="row">{{ tripHistory.rowId }}</th>
                <td>{{ tripHistory.PassengerName }}</td>
                <td>{{ tripHistory.BusName }}</td>
                <td class="text-nowrap">{{ tripHistory.Date }}</td>
                <td class="text-nowrap">{{ tripHistory.TimeIn }}</td>
                <td class="text-nowrap">{{ tripHistory.TimeOut }}</td>
                <td class="text-nowrap">{{ tripHistory.TripSched }}</td>
                <td class="text-nowrap">{{ tripHistory.PlaceOfPickUp }}</td>
                <td class="text-nowrap">{{ tripHistory.PlaceOfDropoff }}</td>
                <td>{{ tripHistory.VaccineCode }}</td>
                <td>{{ tripHistory.SeatNumber }}</td>
                <td>{{ tripHistory.Temperature }}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
